<h1 class="heading">NgxCodeExecutor Playground</h1>
<div class="code-editor-container">
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    class="code-editor"
  ></ngx-monaco-editor>
</div>

<div class="button-container">
  <button class="execute-button" (click)="executeCode()">Execute</button>
</div>

<div class="loader-overlay" *ngIf="isExecuting">
  <div class="loader"></div>
  <p>Executing your code...</p>
</div>

<div class="output-container">
  <h3>Execution Result</h3>
  <div class="output" #output></div>
</div>

<!-- Hidden iframe for code execution -->
<iframe
  id="codeFrame"
  #codeFrame
  class="sandbox"
  sandbox="allow-scripts allow-same-origin"
  [src]="iframeUrl"
></iframe>
